@page "{recipeId:int}"
@model KitchenBook.Pages.Recipes.DetailModel
@{
     ViewData["Title"] = "Detail";
}

<h2>@Model.Recipe.Name</h2>
<div>
    Id: @Model.Recipe.Id
</div>
<div>
    Description: @Model.Recipe.Description
</div>
<div>
    Cuisine Type: @Model.Recipe.Cuisine
</div>
<div>
    Preparation Time: @Model.Recipe.PreparationTime minutes.
</div>
<div>
    Level Of Difficulty: @Model.Recipe.LevelOfDifficulty
</div>
<div>
    Number Of Servings: @Model.Recipe.NumberOfServings
</div>
<div>
    Secification: @Model.Recipe.Secification
</div>


@if(Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<a asp-page="./Edit" asp-route-recipeId="@Model.Recipe.Id" class="btn btn-outline-primary">Edit</a>
<a asp-page="./List" class="btn btn-outline-primary">All Recipes</a>